{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    en tete
</header>
<nav>
    <ul>
        <li><a href="/">Acceuil</a></li>
        <li><a href="/product/list">Produits</a></li>
        <li><a href="/product/add">Nouveau produit</a></li>
    </ul>
</nav>

{% block content %}

{% endblock%}

<footer>
    copyright fathi & salim
</footer>
</body>
</html>
